streamlit>=1.30.0
plotly>=5.22.0
pandas>=2.0.0
scikit-learn>=1.4.0
scipy>=1.10.0
tenacity>=8.2.0
statsmodels>=0.14.0
python-dotenv>=1.0.0
numpy>=1.25.0
Cython>=0.29.33
requests>=2.31.0
openai==0.28.0
